/* 
CALLOUT
*/
.callout {
  /* Configure stroke */
  --stroke-style: dotted;
  --stroke-width: 2px; 

  padding: var(--space-xs-s);
  border-width: var(--stroke-width);
  border-style: var(--stroke-style);
  border-color: var(--stroke-color);
  max-width: var(--measure-longform);
  border-radius: var(--radius);
}

.callout > * {
  line-height: var(--line-height-base);
}

.callout[data-variant='brand'] {
  /* Configure strok color */
  --stroke-color: var(--color-brand);

  color: var(--color-brand);
  border-width: var(--stroke-width);
  border-style: var(--stroke-style);
  border-color: var(--stroke-color);
}

.callout[data-variant='brand'] > * {
  color: var(--color-brand);
}