.prose {
  --flow-space: var(--space-m-l);
  line-height: var(--line-height-loose);
}

.prose :is(p, ul:not([class]), ol:not([class])) {
  max-width: var(--width-longform);
}


// .prose > :not(figure, code, pre, .grid) {
//   max-width: var(--width-longform);
//   margin-inline: auto;
// }

// .prose .heading-anchor :is(:hover, :focus) {
//   text-decoration: underline;
// }

// .prose .heading-anchor {
//   text-decoration: none;
// }