.sidebar {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
}

.sidebar > :first-child {
  flex-basis: var(--sidebar-target-width, 18rem);
  flex-grow: 1;

  @media screen and (min-width: 960px) {
    position: sticky;
    top: 2rem;
    overflow: auto;
    height: 100vh;
  }
}

.sidebar > :last-child {
  flex-basis: 0;
  flex-grow: 999;
  min-width: var(--sidebar-content-min-width, 60%);
}