pre {
  background: var(--color-light-mod-1);
  overflow: auto;
  overflow-x: scroll;
  overflow-wrap: normal;
  padding: var(--space-xs-s);

}

code {
  background: var(--color-light-mod-1);
  font-size: var(--step-0);
}

p code,
li code {
  padding: .125rem .35rem;
}