/* 
Code styles

Used for inline code and code blocks

Ditch these styles altogether if not required for the website.
*/
pre {
  background: var(--color-light-mod-1);
  overflow: auto;
  overflow-x: scroll;
  overflow-wrap: normal;
  padding: var(--space-xs-s);
  margin: 0;
}

code {
  background: var(--color-light-mod-1);
  color: var(--color-accent);
  font-size: var(--step-0);
}

pre code {
  color: var(--color-dark);
}

p code,
li code {
  padding: .125rem .35rem;
}