/* 
Details and summary styles

Format the expanding box, a.k.a accordion.

Ditch these styles altogether if not required for the website.
*/
details {
  background: var(--color-bg-mod-1);
}

summary {
  cursor: pointer;
  font-weight: var(--font-weight-bold);
  padding: .5rem 1rem;
}

details[open] {
  padding: .5rem 1rem .75rem 1rem;
}

details[open] summary {
  margin-bottom: .5rem;
  padding: 0;
}

details[open]>*:last-child {
  margin-bottom: 0;
}