/* 
Details and summary styles

Format the expanding box, a.k.a accordion.

Ditch these styles altogether if not required for the website.
*/
details {
  background: var(--color-bg-mod-1);
  border-radius: var(--border-radius);
}

summary {
  cursor: pointer;
  font-weight: var(--font-weight-bold);
  padding: .5rem 1rem;
}

details[open] {
  padding: .5rem 1rem .75rem 1rem;
}

details[open] summary {
  margin-bottom: .5rem;
  padding: 0;
}

details[open]>*:last-child {
  margin-bottom: 0;
}

/* Variant to enhance the style of accordions with fancy arrows */

details[data-variant='fancy'] {
  position: relative;

  summary::-webkit-details-marker,
  summary::marker {
    content: "";
    /* Hide marker on iOS */
    display:none;
  }

  summary:after {
    content: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEyIDE1LjM3NUw2IDkuMzc0OTlMNy4wNzUgOC4yOTk5OUwxMiAxMy4yNUwxNi45MjUgOC4zMjQ5OUwxOCA5LjM5OTk5TDEyIDE1LjM3NVoiIGZpbGw9IiMxRDFEMUQiLz4KPC9zdmc+Cg==');
    /* Use light chevron for darkmode */
    @media (prefers-color-scheme: dark) {
      content: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEyIDE1LjM3NUw2IDkuMzc0OTlMNy4wNzUgOC4yOTk5OUwxMiAxMy4yNUwxNi45MjUgOC4zMjQ5OUwxOCA5LjM5OTk5TDEyIDE1LjM3NVoiIGZpbGw9IiNDRUQzRTgiLz4KPC9zdmc+Cg==');
    }
    height: 1.5rem;
    pointer-events: none;
    position: absolute;
    right: 1rem;
    top: .7rem;
    transform: rotate(180deg);
  }
}

details[open][data-variant='fancy'] {
  summary:after {
    top: .7rem;
    transform: rotate(0deg);
  }
}