/* 
Table styles

Ditch these styles altogether if not required for the website.
*/
table {
  border-collapse: collapse;
  width: 100%;
  margin: 1.5rem 0;
  overflow-x: scroll;
}

td,
th {
  border: .1rem solid var(--color-dark);
  text-align: left;
  padding: 0.5rem;
}

th {
  background: var(--color-light-mod-1);
  font-weight: bold;
}

tr:nth-child(even) {
  background: var(--color-light-mod-1);
}

table caption {
  padding: .5rem;
  caption-side: bottom;
}