/* 
THEME tokens
Includes primitive tokens for color and semantic tokens
*/
:root {
  /* 
  Color primitive tokens (not to be used in CSS styles)
  Created with Utopia Kickstarter project 
  @link https://www.figma.com/community/file/1122903924123950023
  */
  --color-dark: #0d101c;
  --color-dark-mod-1: #14182b;
  --color-dark-mod-2: #1b2036;
  --color-dark-mod-3: #676972;
  --color-light: #FFFFFF;
  --color-light-mod-1: #f8f8f8;
  --color-light-mod-2: #ededed;
  --color-light-mod-3: #d1d5e9;
  --color-light-mod-4: #c4cae3;
  --color-light-mod-5: #a2a9d8;
  --color-primary: #4f29f0;
  --color-primary-tint: #a08aff;
  --color-secondary: #9f2c5e;
  --color-secondary-tint: #FF70AE;
  --color-tertiary: #ddf87f;
  --color-tertiary-tint: #eefbc1;

  /*
  Color semantic tokens (convey meaning and purpose – describe how to apply primitives in CSS styles)
  */
  --color-text: var(--color-dark);
  --color-text-subtle: var(--color-dark-mod-3);
  /* Used when text sits on the brand color or a dark background.*/
  --color-text-invert: var(--color-light);
  /* The default color used for the main website background */
  --color-canvas: var(--color-light);
  /* The default color used for ui surfaces. The background of element that sit on top of the canvas, such as disclosure widgets, code blocks, etc. */
  --color-surface: var(--color-light-mod-1);
  /* The background color of elevated surfaces */
  --color-surface-raised: var(--color-light-mod-2);
  --color-border: var(--color-dark);
  --color-brand: var(--color-primary);
  --color-accent: var(--color-secondary);
  --color-highlight: var(--color-tertiary);

  /* Typography semantic tokens */
  --font-base: 'Inter', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  --font-display: var(--font-base);
  --font-accent: 'Menlo', 'SF Mono', 'Monaco', 'Inconsolata', 'Fira Mono', 'Droid Sans Mono', 'Source Code Pro', 'Courier New', monospace;
  --font-weight-regular: 400;
  --font-weight-bold: 700;
  --font-size-base: var(--step-0);
  --font-size-lede: var(--step-1);
  --font-size-meta: var(--step--1);
  --font-size-2xl: var(--step-4);
  --font-size-xl: var(--step-3);
  --font-size-l: var(--step-2);
  --font-size-m: var(--step-1);
  --font-size-s: var(--step-0);
  --font-size-xs: var(--step--1);
  --line-height-flat: 1;
  --line-height-compact: 1.2;
  --line-height-base: 1.5;
  --line-height-loose: 1.7;
  --measure-compact: 35ch;
  --measure-longform: 65ch;
  --tracking: -0.04ch;
  --tracking-compact: -0.05ch;
  --text-decoration-color: currentColor;
  --text-decoration-line: underline;
  --text-decoration-style: solid;
  --text-decoration-thickness: 2px;
  
  /* UI semantic tokens */
  --gutter: var(--space-s-m);
  --focus-ring-width: 2px;
  --focus-ring-color: currentColor;
  --focus-ring-offset: 2px;
  --focus-ring-style: dotted;
  // Use stroke tokens for borders, outlines, SVG paths etc
  --stroke-style: solid;
  --stroke-width: .1rem;
  --stroke-color: var(--color-border, currentColor);
  --radius: 0; // Set a rem value to add border radius to buttons, form elements, callouts and accordians. 
  --shadow: 0px 3px 7px rgba(0, 0, 0, 0.08), 0px 0px 1px rgba(0, 0, 0, 0.025);
}

/* 
DARK MODE 
If theme doesn’t require dark mode then remove everything below
*/
:root[data-theme="dark"] {
  --color-theme: dark;
  --color-text: var(--color-light-mod-3); 
  --color-text-subtle: var(--color-light-mod-5);
  --color-text-invert: var(--color-dark);
  --color-canvas: var(--color-dark);
  --color-surface: var(--color-dark-mod-1);
  --color-surface-raised: var(--color-dark-mod-2);
  --color-border: var(--color-light-mod-3);
  --color-brand: var(--color-primary-tint);
  --color-accent: var(--color-secondary-tint);
  --color-highlight: var(--color-tertiary-tint);
  --text-decoration-color: currentColor;
  --focus-ring-color: currentColor;
  --stroke-color: currentColor;  
}