/* 
Global theme tokens
*/
:root {
  /* Typography */
  --font-base: 'Inter', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  --font-display: var(--font-base);
  --font-accent: 'Menlo', 'SF Mono', 'Monaco', 'Inconsolata', 'Fira Mono', 'Droid Sans Mono', 'Source Code Pro', 'Courier New', monospace;
  --font-weight-regular: 400;
  --font-weight-bold: 700;
  --line-height-compact: 1.2;
  --line-height-base: 1.5;
  --line-height-loose: 1.7;
  --width-compact: 35ch;
  --width-longform: 65ch;
  --tracking: -0.05ch;
  --tracking-s: -0.05ch;
  /* 
  Colors created with Utopia Kickstarter project 
  @link https://www.figma.com/community/file/1122903924123950023
  */
  --color-text: #1D1D1D;
  --color-text-mod-1: #494949;
  --color-text-mod-2: #616161;
  --color-bg: #ffffff;
  --color-bg-mod-1:#F8F8F8;
  --color-bg-mod-2: #EDEDED;
  --color-border: #1D1D1D;
  --color-brand: #4f29f0;
  --color-accent: #9F2C5E;
  --color-highlight: #eefbc1;
  
  @media (prefers-color-scheme: dark) {
    /* 
      If theme doesn’t require a dark mode then remove this media query altogether
    */
    --color-text: #CED3E8;
    --color-text-mod-1: #C4CAE3;
    --color-text-mod-2: #8995C8;
    --color-bg: #0D101A;
    --color-bg-mod-1:#121626;
    --color-bg-mod-2: #212845;
    --color-border: #CED3E8;
    --color-brand: #a08aff;
    --color-accent: #FF70AE;
  }

  /* Grid */
  --gutter: var(--space-s-m);
  /* Effects */
  --border-radius: 0; // Set a rem value to add border radius to buttons, form elements, cards, callouts and accordians. 
  --shadow: 0px 3px 7px rgba(0, 0, 0, 0.08), 0px 0px 1px rgba(0, 0, 0, 0.025);
}