/* changelog item */
.changelog-item {
  &:not(:first-of-type) {
    margin-block-start: var(--space-xl);
  }

  .cluster {
    --gutter: 1rem;
    --cluster-vertical-alignment: start;
    font-family: var(--font-accent);

    span {
      background-color: var(--color-surface);
      padding-inline: .5rem;
    }
  }

  div:last-of-type {
    --flow-space: 2rem;
  }
}