<nav class="sidebar-nav" aria-label="sidebar" id="sidebar-navigation">
 <ul role="list">
    {{ $currentPage := . }}
    {{ range .Site.Menus.sidebar }}
      {{ if .HasChildren }}
        <li data-children="true" {{ if eq $currentPage.RelPermalink .URL }}data-state="active"{{ end }}>
          <a {{if or ($currentPage.IsMenuCurrent "sidebar" .) ($currentPage.HasMenuCurrent "sidebar" .) }}data-state="active"{{ end }} href="{{ .URL }}">
            {{ .Name }}
          </a>
          <ul role="list" {{ if eq $currentPage.RelPermalink .URL }}data-state="visible"{{ end }} aria-label="submenu">

            {{ range .Children }}
              <li>
                <a href="{{ .URL }}">{{ .Name }}</a>
              </li>
            {{ end }}
          </ul>
        </li>
      {{ else }}
        <li>
          <a {{if or ($currentPage.IsMenuCurrent "sidebar" .) ($currentPage.HasMenuCurrent "sidebar" .) }}data-state="active"{{end}} href="{{ .URL }}">
            {{ .Name }}
          </a>
        </li>
      {{ end }}
    {{ end }}
  </ul>
</nav>