<nav data-variant="main" aria-label="Main">
  <ul class="cluster" style="--gutter: 1.5rem" role="list">
    {{ $currentPage := . }}
    {{ range .Site.Menus.main }}
      <li>
        <a 
        data-variant="naked"
        {{ if $currentPage.IsMenuCurrent "main" . }}data-state="active"{{ end }}
        {{ if eq .Params.external true }}
          target="_blank" rel="noopener noreferrer"
        {{ end }}
        href="{{ .URL }}"
        >
          {{ if .Pre }}
            <span class="icon" aria-hidden="true">
              {{ partial (print print .Pre) . }}
            </span>
          {{ end }}
          {{ .Name }}
        </a>
      </li>
    {{ end }}
  </ul>
</nav>