/* margin and padding used in utility visual examples */
.demo {
  background-color: var(--color-bg-mod-1);
  padding: var(--space-m-l);
  overflow-x: scroll;
}

.demo > * {
  padding: 1rem;
}

.demo .item {
  display: flex;
  background-color: var(--color-brand); 
  color: var(--color-bg);
}

.demo .margin {
  background-color: var(--color-highlight);
}

.demo .padding {
  color: var(--color-bg);
  background-color: var(--color-brand);
}

.demo .container {
  background-color: var(--color-bg);
  color: var(--color-text); 
}

/* changelog item */
.changelog-item {
  &:not(:first-of-type) {
    margin-block-start: var(--space-xl);
  }

  .cluster {
    --gutter: 1rem;
    --cluster-vertical-alignment: start;
    font-family: var(--font-accent);

    span {
      background-color: var(--color-bg-mod-1);
      padding-inline: .5rem;
    }
  }

  div:last-of-type {
    --flow-space: 2rem;
  }
}
