/* 
* The variables/tokens (or whatever you 
* wish to call them) that power the rest of your styles
*/
@import 'abstracts/fonts';
@import 'abstracts/space';
@import 'abstracts/theme';
@import 'abstracts/type';

/* 
* Embrace the cascade and inheritance to 
* style as much as possible at a global level 
*/
@import 'base/reset';
@import 'base/global';
@import 'base/form';
@import 'base/code';
@import 'base/details';
@import 'base/table';
@import 'base/button';
@import 'base/nav';

/* 
* Skeletal components or organisational structures.
*/
@import 'blocks/prose';
@import 'blocks/hero';
@import 'blocks/callout';
@import 'blocks/card';

/* 
* High level, flexible layouts that provide a 
* skeleton to support any variant of a component
*/
@import 'compositions/grid';
@import 'compositions/repel';
@import 'compositions/cluster';
@import 'compositions/sidebar';
@import 'compositions/reel';
@import 'compositions/switcher';
@import 'compositions/frame';

/* 
* Classes that do one job and one job well 
*/
@import 'utilities/visually-hidden';
@import 'utilities/flow';
@import 'utilities/region';
@import 'utilities/wrapper';
@import 'utilities/width';
@import 'utilities/text';
@import 'utilities/skip-link';