/* 
These styles are only used for the cu-css documentation website, they are not part of the cu-css boilerplate itself.
*/
/* 
Border utility 
*/
.bt {
  border-top: dotted 2px; }

/* 
Changelog
*/
.changelog-item:not(:first-of-type) {
  margin-block-start: var(--space-xl); }

.changelog-item .cluster {
  --gutter: 1rem;
  --cluster-vertical-alignment: start;
  font-family: var(--font-accent); }
  .changelog-item .cluster span {
    background-color: var(--color-surface);
    padding-inline: .5rem; }

.changelog-item div:last-of-type {
  --flow-space: 2rem; }

/* 
Demo, used to represent margin and padding in visual examples */
.demo {
  background-color: var(--color-surface);
  padding: var(--space-m-l);
  overflow-x: scroll; }

.demo > *:not(img) {
  padding: 1rem; }

.demo .item {
  display: flex;
  background-color: var(--color-brand);
  color: var(--color-canvas); }

.demo .margin {
  background-color: var(--color-highlight); }

.demo .padding {
  color: var(--color-canvas);
  background-color: var(--color-brand); }

.demo .container {
  background-color: var(--color-canvas);
  color: var(--color-text); }

/*
Heading anchors 
*/
.heading-anchor {
  display: inline;
  margin-left: .5rem;
  opacity: 0; }

:is(h2, h3, h4, h5, h6):focus > .heading-anchor,
:is(h2, h3, h4, h5, h6):hover > .heading-anchor {
  opacity: 1; }

.heading-anchor:focus {
  opacity: 1; }

.heading-anchor {
  text-decoration: none; }
  .heading-anchor:hover {
    text-decoration: underline;
    color: var(--color-brand);
    background: none; }

/* 
Pagination 
*/
.pagination a {
  background-color: var(--color-surface);
  padding: var(--space-m-l); }
  .pagination a:hover {
    background-color: var(--color-surface-raised); }

.pagination span {
  display: block; }

.pagination span:first-of-type {
  font-family: var(--font-accent);
  font-size: var(--font-size-meta); }

.pagination span:last-of-type {
  font-size: var(--font-size-m); }

/* 
Theme
Used for theme toggle functionality.
*/
:root[data-theme="dark"] {
  --color-theme: dark;
  --color-text: var(--color-light-mod-3);
  --color-text-subtle: var(--color-light-mod-5);
  --color-text-invert: var(--color-dark);
  --color-canvas: var(--color-dark);
  --color-surface: var(--color-dark-mod-1);
  --color-surface-raised: var(--color-dark-mod-2);
  --color-border: var(--color-light-mod-3);
  --color-brand: var(--color-primary-tint);
  --color-accent: var(--color-secondary-tint);
  --color-highlight: var(--color-tertiary-tint);
  --text-decoration-color: currentColor;
  --focus-ring-color: currentColor;
  --stroke-color: currentColor; }

/* Remove if dark mode is not used. */
html {
  color-scheme: var(--color-theme, light); }

[data-theme="dark"] mark,
[data-theme="dark"] ::selection {
  color: var(--color-canvas);
  background-color: var(--color-highlight); }

[data-theme="dark"] img,
[data-theme="dark"] picture {
  filter: brightness(0.8) contrast(1.2); }

/* 
THEME SWITCH 
*/
.theme-switch {
  --cluster-horizontal-alignment: center;
  --gutter: var(--space-2xs); }

/*# sourceMappingURL=main.css.map */