{{ define "main" }}
<section class="changelog | wrapper region" style="--wrapper-max-width: 80rem;">
  <article class="changelog-item | sidebar">
      <div class="cluster">
        <time>{{ .Date.Format "2006-01-02" }}</time>
        {{- with .Params.badges -}}
          {{- range . -}}
            <span>{{ . }}</span>
          {{- end -}}
        {{- end -}}
      </div>
      <div class="flow">
        {{ with .Params.excerpt }}
          <p>{{ . }}</p>
        {{ end }}
        {{ partial "heading-anchor.html" .Content }} 
      </div>
  </article>
</section>
{{ end }}