<form name="contact" id="ContactForm" method="POST" action="/success/">
  <fieldset>  
    <legend>Enter your information</legend>
    <label for="full-name">Full Name</label>
    <input name="full-name" type="text" placeholder="e.g Harry" required>
    <label for="email-address">Email Address</label>
    <!-- See Set autocomplete https://evilmartians.com/chronicles/html-best-practices-for-login-and-signup-forms#1-set-autocomplete -->
    <input name="email-address" type="email" autocomplete="username" required>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" autocomplete="current-password">
    <label for="pet-select">Choose a pet:</label>
    <select name="pets" id="pet-select">
        <option value="">--Please choose an option--</option>
        <option value="dog">Dog</option>
        <option value="cat">Cat</option>
        <option value="hamster">Hamster</option>
        <option value="parrot">Parrot</option>
        <option value="spider">Spider</option>
        <option value="goldfish">Goldfish</option>
    </select>
    <label for="message">Message</label>
    <textarea rows="4" name="message" id="message" type="text" required></textarea>
    <label>Choose a size:</label>
    <label>
      <input type="radio" name="size" value="small">
      Small
    </label>
    <label>
      <input type="radio" name="size" value="medium">
      Medium
    </label>
    <label>
      <input type="radio" name="size" value="large">
      Large
    </label>
    <label>
      <input type="checkbox" name="checkbox" id="checkbox">
      I agree to the <a href="#">terms and conditions</a>.
    </label> 
    <button class="Button" type="submit" value="Submit" id="Form-submit">Submit</button>
  </fieldset>
</form>

