<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>A Modern CSS Starter</title>
  {{ if .Site.IsServer }}
    <!-- Pipe Sass to CSS, include options, enable sourcemaps -->
    {{ $styles := resources.Get "scss/main.scss" | toCSS (dict "enableSourceMap" true) }}
    <!-- Load main.css-->
    <link rel="stylesheet" href="{{ $styles.Permalink | relURL }}" media="screen">
  {{ else }}
    <!-- Set target path -->
    {{ $cssOpts := (dict "targetPath" "css/main.css" ) }}
    <!-- Pipe Sass to CSS, include options, add postCSS autoprefixer, minify and hash -->
    {{ $styles := resources.Get "scss/main.scss" | toCSS $cssOpts | postCSS (dict "use" "autoprefixer") | minify | fingerprint }}
    <!-- Load main.css and authenticate hashed file -->
    <link rel="stylesheet" href="{{ $styles.Permalink | relURL }}" integrity="" media="screen">
  {{ end }}
</head>
<body>
  <a class="skip-link" href="#main-content">Main content</a>
  <main id="main-content" class="wrapper prose">
    <header class="region flow" style="--flow-space: .75rem;">
      <h1>{{ .Title }}</h1>
      {{ with .Description }}
        <p>{{ . }}</p>
      {{ end }}
    </header>
    {{/*  <div class="flow">
      {{ .Content }}
    </div>  */}}
    {{ $headless := .Site.GetPage "/demo" }}
    <article class="region flow">
      {{ $type := $headless.Resources.Match "type*" }}
      {{ range $type }}
        <h2>{{ .Title }}</h2>
        {{ .Content }}
      {{ end }}
    </article>
    <article class="region flow">
      {{ $list := $headless.Resources.Match "list*" }}
      {{ range $list }}
        <h2>{{ .Title }}</h2>
        {{ .Content }}
      {{ end }}
    </article>
    <article class="region flow">
      {{ $blockquote := $headless.Resources.Match "blockquote*" }}
      {{ range $blockquote }}
        <h2>{{ .Title }}</h2>
        {{ .Content }}
      {{ end }}
    </article>
    <article class="region flow">
      {{ $codeblock := $headless.Resources.Match "codeblock*" }}
      {{ range $codeblock }}
        <h2>{{ .Title }}</h2>
        {{ .Content }}
      {{ end }}
    </article>
    <article class="region flow">
      {{ $form := $headless.Resources.Match "form*" }}
      {{ range $form }}
        <h2>{{ .Title }}</h2>
        {{ .Content }}
      {{ end }}
    </article>
    
  </main>
</body>
</html>