<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en{{ end }}">
    {{- partial "head.html" . -}}
    <body>
      <a class="skip-link" href="#main-content">Main content</a>
      {{- partial "header.html" . -}}
      <main id="main-content">
        <section class="hero | region | flow">
            <h1>{{ .Title }}</h1>
            {{ if .IsHome }}
              <p>{{ .Params.description | markdownify }}</p>
            {{ end }}
        </section>
        {{- block "main" . }}{{- end }}
      </main>
      {{- partial "footer.html" . -}}
    </body>
</html>
