{{ define "main" }}
<section class="wrapper region">
  <div class="sidebar" data-variant="sticky">
    <aside>
      {{- partial "nav-sidebar.html" . -}}
    </aside>
    <div>
      {{ with .Content }}
      <div class="prose flow">
        {{ . }}
      </div>
      {{ end }}
      {{ range .Pages }}
        <article class="prose | region flow">
          <h2 id="{{ .Title | urlize }}">{{ .Title }}</h2>
          {{ .Content }}
        </article>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}