{{ define "main" }}
<section class="wrapper region">
  <div class="sidebar" data-variant="sticky">
    <aside>
      {{- partial "nav-sidebar.html" . -}}
    </aside>
    <div>
      {{ with .Content }}
      <div class="prose flow">
        {{ . }}
      </div>
      {{ end }}
      {{ range .Pages }}
        <article class="prose | region flow">
          <h2 id="{{ .Title | urlize }}">{{ .Title }}</h2>
          {{ .Content }}
        </article>
      {{ end }}
      <div class="pagination | grid region" data-layout="50-50">
        {{ with .Site.Sections.Next . }} 
        <a data-variant="naked" href="{{ .Permalink }}">
          <span>Previous</span>
          <span><strong>{{ .Title }}</strong></span>
        </a>
        {{ end }}
        {{ with .Site.Sections.Prev . }}
          {{ if ne .Section "changelog" }}
          <a data-variant="naked" href="{{ .Permalink }}">
            <span>Next</span>
            <span><strong>{{ .Title }}</strong></span>
          </a>
          {{ end }}
        {{ end }}
      </div>
    </div>
  </div>
</section>
{{ end }}